<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Exo+2&display=swap" rel="stylesheet">
  <title>Sun Times Entertainment and Culture</title>
</head>

<body>
  {{{body}}}
</body>

</html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='/javascript/app.js'></script>